#box1 {
    border: 2px solid;
    border-radius: 5px;
    width: 250px;
    height: 250px;
    background: lightsalmon;
    font-size: 170px;
    text-align: center;

    
}

@keyframes mySlide {
    from {margin-left: 0%}
    to {margin-left: 100%}
}