#box1 {
    border: 5px solid;
    width: 250px;
    height: 300px;
    font-size: 22px;
    background: lightblue;
    padding: 5px;

    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}
#box2 {
    border: 5px solid;
    width: 250px;
    height: 300px;
    font-size: 22px;
    background: lightblue;
    padding: 5px;
}