body {
    background: url("jellyfish.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1 {
    background: linear-gradient(to right, lavender, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {
    background: linear-gradient(to left, lavender, white);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
